{% extends 'layout.twig' %}

{% block body %}
    <div class="jumbotron">
      <h1>{{ helloWorld }}</h1>
      <p>It is a framework designed to develop a website, applications, platforms or whatever you want.</p>
      <p>
        <a href="https://github.com/MilloLab/quaver" target="_blank" class="btn btn-success btn-lg btn-block">Get started</a>
      </p>
    </div>
{% endblock %}