{% extends 'general/layout.twig' %}

{% block body %}

    <div class="container">
        <h1 class="margin-top margin-bottom">
            {{ ('maintenance-text')|t|raw }}
        </h1>
    </div>

{% endblock %}
