
{% block sidebar %}

  <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if section == '' %}class="active"{% endif %}><a href="/admin/">Home</a></li>
            <li {% if section == 'users' %}class="active"{% endif %}><a href="/admin/users">Users</a></li>
            <li {% if section == 'languages' %}class="active"{% endif %}><a href="/admin/languages">Languages</a></li>
            
          </ul>
          
          
  </div>

   

{% endblock %}