{%  extends "layout.twig" %}

{% block nav %}{% endblock %}

{% block body %}
	<div class="container">
      <div class="jumbotron centered">
        <h1>Maintenance</h1>
        <p>Coming soon!</p>
      </div>

    </div>
{%  endblock %}